html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.screen_out {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
}

.main_container {
	display: flex;
	justify-content: center;
	align-items: center;

	border: 3px blue solid;
}

.main_box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 900px;
	min-height: 100vh;
	text-align: center;

	overflow: hidden;

	/* border: 1px red solid; */
}

.logo_box {
	width: 100%;
	height: 50px;
	position: sticky;
	z-index: 10;
	top: 0px;
	box-shadow: 0 4px 2px -2px #eeeeee;
	background-color: white;

	display: flex;

	align-items: center;

	border: royalblue 1px solid;
}

.logo_box > div {
	width: 33%;
	border: seagreen 1px solid;
}

.logo_nav {
	display: flex;
}

.header_bar_container {
	display: flex;
	justify-content: space-between;
	top: 45px;
	border: 1px purple solid;
}

.footer_nav_container {
	width: 900px;
	height: 50px;

	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	border: 2px green solid;
}

.main_content {
	min-height: 100vh;
	border: orange 1px solid;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.popular_board_container {
	width: 90%;
	height: 200px;
	margin: 10px;

	/* border: 1px red solid; */
}

.popular_board_title {
	display: flex;
	margin: 10px;
}

.popular_board_content_box {
	display: flex;
	height: 180px;
	overflow-y: scroll;

	/* border: 3px rgb(77, 151, 170) solid; */
}
.popular_board_content {
	border: 3px #eeeeee solid;
	border-radius: 10%;
	margin: 5px;
	min-width: 65%;
	height: 150px;
}
