html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: white;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.screen_out {
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999px;
}

.main_container {
	display: flex;
	justify-content: center;
	align-items: center;

	/* border: 3px blue solid; */
}

.main_box {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	text-align: center;

	width: 900px;

	/* border: 1px red solid; */
}
.logo_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	/* width: 100%; */
	height: 45px;

	z-index: 10;

	box-shadow: 0 4px 2px -2px #eeeeee;
	background-color: white;

	/* border: royalblue 1px solid; */
}

.logo_box > div {
	margin: 0 5%;
}

.logo_nav {
	display: flex;
	justify-content: flex-end;

	/* border: 1px purple solid; */
}
.logo_nav > div {
	margin: 0 3px;
}

.header_bar_container {
	display: flex;
	justify-content: space-between;
	top: 45px;
	border: 1px purple solid;
}

.footer_nav_container {
	height: 50px;
	position: sticky;
	bottom: 0;

	box-shadow: 0 -4px 2px -2px #eeeeee;

	display: flex;
	justify-content: space-around;
	align-items: center;

	background-color: white;
	/* border: 2px green solid; */
}
.footer_nav_container > div {
	width: 25%;
	border-left: 1px #eeeeee solid;
	border-right: 1px #8b8989 solid;
}

.main_content {
	min-height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;

	/* border: orange 1px solid; */
}

.popular_board_container {
	width: 90%;
	height: 30%;
	margin: 10px;
	padding: 10px;

	border: 2px #eeeeee solid;
	border-radius: 2%;
}

.popular_board_title {
	display: flex;
	margin: 10px;
}

.popular_board_content_box {
	display: flex;
	height: 180px;
	overflow-y: hidden;
	scroll-snap-type: x;

	/* border: 3px rgb(77, 151, 170) solid; */
}
.popular_board_content {
	border: 2px #eeeeee solid;
	margin: 5px;
	width: 80%;
	height: 150px;
}
.popular_board_content_title {
	width: 100%;
	height: 50px;
	/* border: 1px purple solid; */
}

.x.mandatory-scroll-snapping {
	scroll-snap-type: x mandatory;
}

.popular_board_content_box > div {
	text-align: center;
	scroll-snap-align: center;
	flex: none;
}

.add_article_button {
	position: -webkit-sticky;
	position: sticky;

	width: 40px;
	height: 40px;

	bottom: 11%;
	left: 82%;

	/* border: 1px red solid; */
}
